.container {
    display: flex;
    flex-direction: row;
}

.logoBackgroundIcon {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    height: 100vh;
    z-index: 1;

    .logoDescription {
        color: #fff;
        font-size: 1.1rem;
        font-weight: bold;
        width: 21.7rem;
        margin-top: 5.5rem;
        margin-left: 4.7rem;
        z-index: 2;
    }

    .logoTitle {
        font-size: 3rem;
        font-weight: bold;
        margin-top: 1.5rem;
        color: white;
        margin-left: 4.7rem;
        z-index: 2;
    }
}

.signInWrapper {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50%;
    height: 100vh;
    justify-content: center;
    padding-left: 8.75rem;
    margin-top: 3.5rem;
}

.title {
    display: flex;
    color: #202020;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.3rem;
}

.description {
    display: flex;
    width: 25.625rem;
    font-size: 1rem;
    margin-bottom: 2.5rem;
}

.input {
    display: flex;
    width: 24rem;
    height: 1.3rem;
    margin-bottom: 2.5rem;
}

.settingAccount {
    font-size: 1rem;
    font-weight: bold;
    color: #244D4D;
    margin-right: 2.9rem;
    margin-bottom: 2.5rem;
}

.buttSignIn {
    height: 2.9rem;
    color: #fff;
    background-color: #244D4D;
    border: 1px solid #244D4D;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
}

.linesContainer {
    display: flex;
    flex-direction: row;
    color: #244D4D;
    justify-content: center;

    div {
        margin-top: auto;
        margin-bottom: auto;
        height: 0.1rem;
        width: 12.7rem;
        background-color: #CDD4E0;
    }

    p {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1rem;
        color: #244D4D;
    }
}

.buttSignInWithGoogle {
    height: 2.9rem;
    color: #244D4D;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 18px lightgray;
    margin-top: 2.5rem;
}
